<% include ./partials/header %>
    <style>
    body
    {
       width:100%;
       background: #ee0979;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
.about-section{
    background: url("./pic.jpg") no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}
</style>
<div class="about-section">
        <div class="inner-container">
            <h1>About Us</h1>
            <p class="text">
                Freedom Art is a Art Gallery where you can showcase your Art of Photography, Sketching and many more talent in this situation of Lockdown. This Gallery will make you familiar with brilliant talents in our Country in the field of Photography and sketching.
            </p>
            <div class="skills">
                <span>Photography</span>
                <span>Sketching</span>
                <span>Precious Arts</span>
            </div>
        </div>
    </div>
    <% include ./partials/footer %>
