.container
{
	padding-top: 5%;
	float:center;
	border: 3px solid yellow;
}
body
{
	background: #FC5C7D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	background-size: cover;
	background-position: center;
}
h1
{
	text-transform: uppercase;
	text-align: center;
	color: red;
	text-shadow: 0px 4px 15px orange,
	0px 8px 20px yellow,
	0px 14px 25px blue;
}
html
{
	background: #FC5C7D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	background-position: center;
	background-size: cover;
	height: 100%;
}
.rr
{
	color: red;
}